<html>
<body>
<form action="edit-concession" method="post">
    <select name="concessiontype">
        <option value="Hot Dog">Hot Dog </option>
        <option value="Burger">Burger</option>
        <option value="Pizza">Pizza</option>
        <option value="Fries">Fries</option>
    </select>
    <input type="text" typeof="number" placeholder="How Many Orders?" name="foodname"/>
    <input type="hidden" name="id" value="{{id}}">

    <button type="submit">Submit</button>
</form>

</body>
</html>