<html>
<body>
Welcome back, {{username}}!
<form action="choose-food" method="post">
    <input type="text" placeholder="Choose Concession" name="foodname"/>
    <select name="concessiontype">
        <option value="Hot Dog">Hot Dog</option>
        <option value="Burger">Burger</option>
        <option value="Pizza">Pizza</option>
        <option value="Fries">Fries</option>
    </select>
    <button type="submit">Submit</button>
</form>
<form action="choose-drink" method="post">
    <input type="text" placeholder="Choose Concession" name="drinkname"/>
    <select name="drinktype">
        <option value="Beer">Beer</option>
        <option value="Juice">Juice</option>
        <option value="Soda">Soda</option>
        <option value="Water">Water</option>
    </select>
    <button type="submit">Submit</button>
</form>
{{#beers}}
{{name}}<br>
{{/beers}}
</body>
</html>