<html>
<body>
Welcome back, {{username}}!
<form action="log-out" method="post">
    <button type="submit" name="log-out">logout</button>
</form>

<form action="choose-food" method="post">
    <select name="concessiontype">
        <option value="Hot Dog">Hot Dog </option>
        <option value="Burger">Burger</option>
        <option value="Pizza">Pizza</option>
        <option value="Fries">Fries</option>
    </select>
    <input type="text" typeof="number" placeholder="How Many Orders?" name="foodname"/>

    <button type="submit">Submit</button>
</form>

<form action="choose-drink" method="post">
    <select name="drinktype">
        <option value="Beer">Beer</option>
        <option value="Juice">Juice</option>
        <option value="Soda">Soda</option>
        <option value="Water">Water</option>
    </select>
    <input type="text" placeholder="How Many Drinks?" name="drinkname"/>

    <button type="submit">Submit</button>
</form>

<form action="Remove-Concession" method="post">
    <input type="number" placeholder="Concession #" name="concessionId"/>
    <button type="submit">Delete</button>

</form>
{{#concessions}}
{{id}}. {{name}} {{type}} <a href="edit-concession">{{username}}-Edit</a> <br>
{{/concessions}}
</body>
</html>